.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  border: 3px solid #696969;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.white {
  background-color: #ffffe0;
}

.grey {
  background-color: #696969;
}
