.chess-board {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(61, 61, 48);
}

.chess-row {
  display: flex;
}

.chess-cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: rgb(215, 169, 169);
}

.black {
  background-color: rgb(124, 124, 109);
}

.chess-piece {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
